#page-empresas {
  height: 100vh;
  background-color: #eeecdb;
  display: flex;
  justify-content: center;
  align-items: center;

  //   background-image: linear-gradient(to bottom, #ee4c77, #bf406a);
  // nav {
  //   height: 150px;
  //   width: 100%;
  //   position: fixed;
  //   top: 0;
  //   display: flex;

  //   .logo {
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     padding-left: 200px;

  //     img {
  //       width: 200px;
  //     }
  //   }

  //   .content {
  //     padding: 50px;
  //     border-radius: 5px;
  //     width: 200px;
  //     display: flex;
  //     justify-content: flex-end;
  //     z-index: 9;

  //     &:focus {
  //       width: 100%;
  //     }

  //     .search {
  //       display: flex;
  //       height: 60px;
  //       padding: 3px;
  //       width: 60px;
  //       position: relative;
  //       transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  //       overflow: hidden;

  //       &:focus .content {
  //         width: 100%;
  //       }

  //       &__input {
  //         flex-grow: 1;
  //         border: none;
  //         background: transparent;
  //         padding: 0 0.5rem;
  //         font-size: 1.6rem;
  //         position: absolute;
  //         top: 0;
  //         bottom: 0;
  //         left: 10px;
  //         opacity: 0;
  //         width: calc(100% - 60px);
  //         cursor: pointer;
  //         color: white;

  //         &::placeholder {
  //           color: #991237;
  //         }

  //         &:focus {
  //           outline: none;
  //         }
  //       }

  //       &__btn {
  //         font-size: 24px;
  //         background: transparent;
  //         border: none;
  //         cursor: pointer;
  //         height: 50px;
  //         width: 50px;
  //         color: white;
  //         margin-left: auto;
  //         transition: background 150ms ease-in-out;

  //         &:focus {
  //           outline: none;
  //         }

  //         &:focus .content {
  //           width: 100%;
  //         }
  //       }

  //       &:focus-within #logo-nav {
  //         display: none;
  //       } 

  //       &:focus-within {
  //         width: 100%;
  //         border-bottom: 1px solid white;

  //         .search__input {
  //           opacity: 1;
  //           cursor: initial;
  //         }

  //         .search__btn {
  //           color: white;

  //           &:hover,
  //           &:focus {
  //             outline: 0;
  //             right: 0;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  nav {
    background-image: linear-gradient(to bottom, #ee4c77, #bf406a);
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;

    img {
      width: 200px;
    }
  }

  .nav {
    .logo,
    .search-toggler {
      transition: opacity 150ms, visibility 150ms;
    }

    .search-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 150ms, visibility 150ms;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-icon {
        margin-left: 40px;
        position: absolute;
        left: -6px;
        bottom: 38px;

        img {
          width: 40px;
        }
      }

      &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        outline: none !important;
        color: white;
        height: 40px;
        font-size: 22px;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        padding-left: 40px;

        &::placeholder {
          color: #991237;
          transition: color .5s;

          &:focus::placeholder {
            color: transparent;
          }
        }
      }

      &__close {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        color: white;
        font-weight: bold;
        font-size: 14px;
      }
    }

    .search-open {
      margin-right: 40px;

      img {
        width: 50px;
      }
    }

    &--search-active {
      .logo,
      .search-toggler,
      .search-open {
        opacity: 0;
        visibility: hidden;
      }

      .search-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .content {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 150px;

    h2 {
      color: #383743;
      font-weight: 500;
    }
  }
}
