#page-home {
  height: 100vh;
  background-color: #eeecdb;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: block;
    text-align: center;
    width: 512px;
    padding: 0 70px;

    .top {
      width: 100%;

      .logo {
        width: 285px;
        height: 69px;
        object-fit: contain;
        margin: 0 auto;
        margin-bottom: 64px;

        &_home {
          width: 100%;
        }
      }

      .title {
        font-size: 24px;
        font-weight: bold;
        color: #383743;
        text-transform: uppercase;
        margin-bottom: 25px;
        line-height: 1.4;
      }

      .subtitle {
        font-size: 18px;
        font-weight: 400;
        color: #383743;
        line-height: 1.4;
        margin-bottom: 34px;
      }
    }

    .login {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .email {
        width: 100%;

        input {
          background-color: transparent;
          margin: 16px 0;
          border-bottom: 1px solid rgba(56, 67, 67, 0.7);
          color: #403e4d;
          font-size: 22px;
          height: 30px;
          width: 100%;
          padding: 0 0 4px 40px;

          &::placeholder {
            color: rgba(56, 55, 67, 0.5);
            font-size: 16px;
            transition: color .5s;
          }

          &:focus::placeholder {
            color: transparent;
          }
        }
      }

      label {
        width: 100%;
        display: flex;
        padding-right: 20px;

        .icone {
          position: relative;
          top: 16px;
          left: 28px;
        }

        input {
          background-color: transparent;
          margin: 16px 0;
          border-bottom: 1px solid rgba(56, 67, 67, 0.7);
          color: #403e4d;
          font-size: 22px;
          height: 30px;
          width: 100%;
          padding: 0 0 4px 40px;

          &::placeholder {
            color: rgba(56, 55, 67, 0.5);
            font-size: 16px;
            transition: color .5s;
          }

          &:focus::placeholder {
            color: transparent;
          }
        }
      }

      button {
        background-color: #57bbbc;
        width: 300px;
        height: 50px;
        color: white;
        font-size: 16px;
        margin-top: 30px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 250ms;

        &:hover {
          background-color: #748383;
        }
      }
    }
  }
}
