@import "reset";
@import "home";
@import "empresas";

/** Body. */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  input, 
  select { 
    font-size: 100%; 
  }
}

